.dialog-box{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5px;
}

.dialog-content{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.cpd_colorPickerpicker {
    box-sizing: border-box;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 2px;
    padding: 5px;
    border-radius: 5px;
    color: #FFFFFF;
}

#cpd_wrapperOfTwo{
    display: flex;
    padding: 5px;
}


#cpd_pcpicker{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cpd_topEls{
    cursor: pointer;
}

#cpd_topElsCon{
    display: flex;
    align-items: center;
    width: 70%;    
}

#cpd_buttonCon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

#cpd_previewpicker {
    height: 25px;
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #5d5d5d;
    margin-right: 10px;
}

#cpd_pickedpicker {
    height: 25px;
    width: 20%;  
    padding: 5px;
    border-radius: 5px; 
    border: 2px solid #5d5d5d;
    margin-right: 10px;
}

#cpd_colorOptions{ 
    height: 25px;
    width: 20%;
    border: 2px solid #5d5d5d; 
}

#cpd_okButton {
    cursor: pointer;
    height: 25px;
    width: 20%;
    min-width: 50px;
    float: right;
}

#cpd_closeButton {
    cursor: pointer;
    height: 25px;
    width: 20%;
    min-width: 50px;
    float: right;
}

#cpd_s1picker{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

#cpd_slider1picker {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 12px;
    outline: none;
    opacity: 1;
    transition: opacity .2s;
    background: linear-gradient(to right, hsl(0, 100%, 50%) 0%, hsl(36, 100%, 50%) 10%, hsl(72, 100%, 50%) 20%, hsl(108, 100%, 50%) 30%, hsl(144, 100%, 50%) 40%, hsl(180, 100%, 50%) 50%, hsl(216, 100%, 50%) 60%, hsl(252, 100%, 50%) 70%, hsl(288, 100%, 50%) 80%, hsl(324, 100%, 50%) 90%, hsl(360, 100%, 50%) 100%);
}

#cpd_pickerpicker {
    cursor: crosshair;
    float: left;
    margin-top: 2px;
}

#cpd_contpicker {
    float: left;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;   
}


.cpd_divcpicker {
    padding: 2px;
}

#cpd_stats_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.cpd_lbpicker {
    padding-top: 3px;
}

.cpd_inppicker {
    padding-left: 5px;
}

.cpd_spacerpicker {
    width: 10px;
    height: 100%;
}

#cpd_pickerpicker {
    margin: 5px;
}

